.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #a38348;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    mix-blend-mode: difference;
}

.pointer {
    width: 40px;
    height: 40px;
    background-color: rgba(163, 131, 72, 0.3);
    border-color: transparent;
}